extends layout

block scripts
  script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  script(src='/javascripts/jquery-2.1.4.min.js')

block content
  script.
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        testAPI(response.authResponse.accessToken);
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
        console.log('Please log into this app.');
      } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into Facebook.';
        console.log('Please log into Facebook.');
      }
    }
    
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1685554965007919',
        xfbml      : true,
        version    : 'v2.3'
      });
      
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
     
    function testAPI(accessToken) {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me?fields=id,name,picture,first_name', function(response) {
        console.log('Successful login for: ' + response.name);
        console.log(response);
        
        $.post( "/admin/login", { id: response.id, name: response.name, accessToken: accessToken }, function( data ) {
          console.log(data);
          location.href = "/admin/home/" + response.id;
        });
      });
    }
    
    function login(){
      FB.login(function(response) {
       statusChangeCallback(response);
      }, {scope: 'public_profile,email'});
    }
     
  .container
    .row.vertical-align
      .col-md-4
      .col-md-4.text-center
        h1 #SalmanWedsSana
        br
        p Welcome to the admin login
        btn.btn.btn-primary(onclick="login()") Login
      .col-md-4

